---
name: Duplicati
version: 0.0.1
slug: duplicati
description: Zero-trust backup from any operating system to any destination that you can manage from anywhere.
url: https://github.com/echocat/hassos-addons/duplicati
#image: ghcr.io/echocat/hassos-addons/duplicati
advanced: true
startup: application
ingress: true
ingress_port: 8200
panel_icon: mdi:web
panel_title: Duplicati
panel_admin: true
backup: cold
boot: auto
host_network: false
privileged: []
options: {}
schema: {}
arch:
  - amd64
  - aarch64
  - armv7
map:
  - addon_config:rw
  - ssl:rw
  - addons:rw
  - backup:rw
  - share:rw
  - media:rw
  - all_addon_configs:rw
  - data:rw